<div class="App">
  <input type="checkbox" id="switch" />
  <div class="app">
    <div class="body">
      <div class="content">
        <div class="circle">
          <div class="crescent"></div>
        </div>
        <p class="heading">
          Beggining your path
        </p>

        <label
          class="label-theme"
          for="switch"
        >
          <span class="toggle"></span>
          <span class="light"
            >Light path</span
          >
          <span class="dark"
            >Dark path</span
          >
        </label>
        <button
          class="start-btn"
          title="Srart your path"
        >
          CHOOSE YOUR PATH
        </button>
      </div>
    </div>
  </div>
</div>
