<section
  class="section-wrapper abt"
  id="about"
>
  <div
    class="container section-about-me"
  >
    <h2 class="about-me-section">
      About
      <span
        class="about-me-section-span"
        >me</span
      >
    </h2>
    <div class="about-me-container">
      <picture class="about-me-photo">
        <source
          media="(min-width: 1280px)"
          srcset="
            /images/reserved/skiff.jpg
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/reserved/skiff.jpg
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767.98px)"
          srcset="
            /images/reserved/skiff.jpg
          "
          type="image/jpg"
        />

        <img
          src="/images/about/about-me-mob-2x.jpg"
          alt="My photo"
          width="384"
          height="448"
          class="about-me-img"
        />
      </picture>
      <div class="bio">
        <h3 class="bio-title">BIO</h3>

        <p class="bio-text">
          I'm Vlad Keller, a talented
          programmer specializing in
          software development. My
          expertise spans various
          programming languages and
          technologies, and I am
          dedicated to continually
          enhancing my skills. I thrive
          on seeking unconventional and
          creative solutions to
          problems, leveraging a high
          level of analytical skills to
          effectively tackle even the
          most challenging tasks.
        </p>

        <p class="bio-text">
          Adaptable to both independent
          and team-oriented work, I
          collaborate seamlessly with
          colleagues, exchanging ideas
          and finding optimal solutions.
          My professional maturity
          enables me to navigate
          challenges and stressful
          situations with a calm
          demeanor, maintaining a
          consistently high quality of
          work. Committed to
          self-improvement, I actively
          engage in studying new
          technologies and practices to
          stay current with the latest
          innovations in the field.
        </p>
      </div>
    </div>
    <div class="about-me-info">
      <div
        class="about-me-content-item"
      >
        <h4 class="educ-title">
          SERVISES
        </h4>
        <ul class="educ-list">
          <li class="educ-list-item">
            <p class="educ-list-text">
              Fullstack Development
            </p>
          </li>
          <li class="educ-list-item">
            <p class="educ-list-text">
              Corporative site
            </p>
          </li>
          <li class="educ-list-item">
            <p class="educ-list-text">
              CRM Systems
            </p>
          </li>
          <li class="educ-list-item">
            <p class="educ-list-text">
              Portfolio Pages
            </p>
          </li>
          <li class="educ-list-item">
            <p class="educ-list-text">
              MarketPlases
            </p>
          </li>
        </ul>
      </div>
      <div
        class="about-me-content-list"
      >
        <h4 class="role-title">
          OTHER SERVISES
        </h4>
        <ul class="role-list">
          <li class="role-list-item">
            <p class="role-list-text">
              SEO
            </p>
          </li>
          <li class="role-list-item">
            <p class="role-list-text">
              HeadlessCMS, Wordpress
            </p>
          </li>
          <li class="role-list-item">
            <p class="role-list-text">
              MObile App
            </p>
          </li>
          <li class="role-list-item">
            <p class="role-list-text">
              Desktop App
            </p>
          </li>
          <li class="role-list-item">
            <p class="role-list-text">
              Banking System
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
