<footer class="footer ftr">
  <div class="container">
    <div class="footer-div">
      <a href="index.html" class="logo"
        >KELLER<span class="logo-two"
          >STUDIO.</span
        ></a
      >
      <ul class="footer-list">
        <li class="footer-item">
          <a
            href="tg://resolve?domain=@skiff7777"
            target="_blank"
            >telegram</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-txt">
      © Copyright 2024. Made by
      KellerStudio
    </p>
  </div>
</footer>
