<section class="section-hero hr">
  <div class="container hero-container">
    <div
      class="hero-title-link-container"
    >
      <div class="terminal-main-text">
        <h1 class="hero-title">
          Hello, I am
        </h1>
        <p class="gsap-animation">
          <span class="hi"></span>
          <span class="text"></span>
        </p>
      </div>
      <a
        class="hero-link"
        href="#collaboration"
      >
        <svg
          class="hero-icon"
          width="30"
          height="16"
        >
          <use
            href="/icons/icons.svg#icon-arrow-hero"
          ></use>
        </svg>
        <p class="hero-link-text">
          Order the project
        </p></a
      >
    </div>
    <div
      class="hero-photo-text-container"
    >
      <picture>
        <source
          srcset="
            /images/reserved/skiff.jpg
          "
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <img
          loading="lazy"
          src="/images/reserved/skiff.jpg"
          alt="photo-of-a-man-with-beard"
          width="592"
          height="444"
          class="hero-img"
        />
      </picture>
      <p class="hero-text">
        I work with people all over the
        world to create
        <span class="hero-span"
          >impressive</span
        >
        and
        <span class="hero-span"
          >functional websites</span
        >
        that reflect each client’s
        unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-social-list">
    <li class="hero-social-item">
      <a
        href="tg://resolve?domain=skiff7777"
        target="_blank"
        >telegram</a
      >
    </li>
  </ul>
</section>
